body{
    background-color: rgb(240, 174, 213);
    background-size:cover;
}
#conteudo{
    width: 50%;   
    margin-left: 25%;
    margin-top: 2%;
    background-color: rgba(255,255,255,0.7);
    padding: 5%;
    border-radius: 10px;
}
h1{
    margin-bottom: 2%;
}

#titulo{
    text-transform: uppercase;
    font-weight: bold;
}

#saida{
    margin-top: 10%;
    font-family: "arial black";
    font-size: 2.5em;
}

#imagem img{
    position: fixed;
    right: -100px;
    height: 100%;
    bottom: 0px;
  }